[submodule "manual"]
	path = submodules/manual
	url = https://github.com/BraneFramework/manual.git
[submodule "specification"]
	path = submodules/specification
	url = https://github.com/BraneFramework/specification.git
